#block-views-defcon_maps-defcon_level{
  text-align: center;
}
.defcon-level-value {
  text-align: center;
  font-size: 5em;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
}

.defcon-level-value-1{
  color: #73d941;
}
.defcon-level-value-2{
  color: #a4caf2;
}
.defcon-level-value-3{
  color: #ecd723;
}
.defcon-level-value-4{
  color: #ff9000;
}
.defcon-level-value-5{
  color:#ea0000;
}
.defcon-level-value--{
  color: black;
}

.view-display-id-defcon_map .view-content{
  text-align: center;
}

.view-display-id-defcon_level .views-field-field-map-fid img{
  border: 1px;
  border-style: solid;
  border-color: black;
}
.defcon-item-list ul li{
  display: inline-block;
  background: none;
}
.view-display-id-short_history .view-content {
  text-align: left;
}
